@import "../../base";
@import "../../utils";

.wimg {
	width: 25px;
}

.hederBalanse {
	display: flex;
	width: 100%;
	box-sizing: border-box;
	padding: 0 20px;
	justify-content: space-between;

	.achap {
		display: flex;
		align-items: center;
		gap: 30px;
		.pulmenu {
			display: flex;
			gap: 15px;

			span {
				display: flex;
				@include inter(#888894, 14px, 500);
				flex-direction: column;
				h3 {
					@include inter(#3f3f46, 24px, 600);
				}
			}
		}
	}
	.aong {
		display: flex;
		align-items: center;
		gap: 50px;
	}
}
.pulKoz {
	background-color: $och-kok;
	padding: 10px 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.ishorni {
	padding: 10px 35px;
	background-color: $pushti;
	border-radius: 10px;
	font-size: 20px;
	color: white;
	@include inter(#fff, 26px, 600);
}
.ishorni:hover {
background-color: $pushti-hover;

}
header {
	position: relative;
	box-shadow: rgba(38, 57, 77, 0.466) 0px 12px 10px -10px;
}
.kab {
	width: 40px;
}
