@mixin inter($color, $size, $winz) {
	color: $color;
	font-family: Manrope;
	font-size: $size;
	font-style: normal;
	font-weight: $winz;
	line-height: normal;
}
@mixin btn($color, $wiz) {
	padding: $wiz;
	border-radius: 10px;
	display: grid;
	place-items: center;
	background-color: $color;
}
